* {
	box-size: border-box;
	margin: 0;
	position: 0;
	display: block;
}

body {
	font-family: Arial, Helvetica, Sans-serif;
	font: 16/18 #000;
	color: green;
	text-alignment: center;
	background: url('../img/bck.jpg') no-repeat center top;
	vertical-align: middle;
}

h1,
h2,
h3 {
	size: 3em;
	font-weight: bold;
	font-family: 'Arial Black';
}

.nav ul, ul, li {
	list-style: none;
	float: left;
	margin: 0 20px 0 0;
}

li {
	color: blue;
}
	
