* {
	box-size: border-box;
	margin: 0;
	position: 0;
	display: block;
}

body {
	font-family: Arial, Helvetica, Sans-serif;
	font: 16/18 #000;
	color: green;
	text-alignment: center;
}

h1,
h2,
h3 {
	size: 3em;
	font-weight: bold;
	font-family: 'Arial Black';
}

p {
	margin: 20px 0;
}

button {
	border: 1px solid #000;
}
